doctype 5
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='lib.min.css', media='screen')
    script(src="lib.min.js")
    script(src="seartipy-web-seed.js")

  body
    div(class="container")